.root{
    -fx-font-family: 'Roboto', sans-serif;
}

.titled-pane > .title {
    -fx-background-color: #80d6ff;
    -fx-border-color: #000000;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 10 10 0 0;
}

.titled-pane > .title > .text {
    -fx-fill: #000000;
}

.tab-pane>*.tab-header-area>*.tab-header-background {
    -fx-background-color: #80d6ff;
}

.button {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-weight: bold;
    -fx-background-color: #42a5f5;
    -fx-border-color: black;
    -fx-font-size: 13;
}

.button:hover {
    -fx-opacity: 0.7;
}

#upper-toolBar1 {
    -fx-background-color: #fbc02d;
}

#upper-toolBar2 {
    -fx-background-color: #fbc02d;
}

#middle-toolBar {
    -fx-background-color: #fbc02d;
}

#niddle-toolBarText {
    -fx-font-style: italic;
}

#bottom-toolBar {
    -fx-background-color: #fbc02d;
}

#tabPane {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-radius: 2px;
}