.root{
    -fx-font-family: 'Roboto', sans-serif;
}

/*.button:active {*/
/*    -fx-background: #80d6ff;*/
/*}*/

.check-box:selected .mark {
    -fx-background-color: #000000;
    
}

.check-box:selected .box {
    -fx-background-color: #80d6ff;
}

.button:hover {
    -fx-opacity: 0.7;
}